<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EHSApps.WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EHS.WebAPI.JSSE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EHSApps.WebAPI.Properties.Settings>
            <setting name="EHSApps_WebAPI_SPSearchService_QueryService" serializeAs="String">
                <value>http://ehsdev/_vti_bin/search.asmx</value>
            </setting>
        </EHSApps.WebAPI.Properties.Settings>
        <EHS.WebAPI.JSSE.Properties.Settings>
            <setting name="EHS_WebAPI_JSSE_SPSearchService_QueryService"
                serializeAs="String">
                <value>http://ehsdev/ehs/_vti_bin/search.asmx</value>
            </setting>
        </EHS.WebAPI.JSSE.Properties.Settings>
    </applicationSettings>
</configuration>